{
  plugins: [
      "relay",
      "macros"
  ],
  presets: [
    "@babel/env",
    "@babel/preset-env",
    "@babel/"
    [
      "@babel/preset-react", {
        "runtime": "automatic"
      }
    ],
    "@babel/preset-typescript"
  ]
}


