* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0 auto;
}

main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

section {
  grid-column-start: span 12;
  padding: 20px;
  margin: 20px;
  border: 20px solid white;
}

@media only screen and (min-width: 900px) {
  section {
    grid-column-start: span 6;
  }
}

.full-width {
  grid-column-start: span 12;
}

.controls {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-items: center;
  gap: 20px;
}

.grid-item {
  grid-column-start: span 12;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

@media only screen and (min-width: 600px) {
  .grid-item {
    grid-column-start: span 6;
  }
}

@media only screen and (min-width: 900px) {
  .grid-item {
    grid-column-start: span 3;
  }
}

.flex-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.flex-container-row {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.button {
  background-color: #282c34;
  border: 2px solid white;
  color: white;
  transition: color .5;
  transition: background-color .5s;
}

@media screen only and (min-width: 900px){
  .flex-container {
    display: block;
  }
  .button {
    display: block;
    width: 100%;
  }
}

.button:hover {
  color: #282c34;
}

.card {
  border: 2px solid #fff;
  box-shadow:0px 0px 10px 0 #a9a9a9;
  padding: 30px 40px;
  width: 90%;
  margin: 50px auto;
}
.wrapper {
  width: 0px;
  animation: fullView 0.5s forwards cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

@keyframes fullView {
  100% {
    width: 100%;
  }
}

.animate {
   animation : shimmer 2s infinite linear;
   background: linear-gradient(to right, #eff1f3 4%, #e2e2e2 25%, #eff1f3 36%);
    background-size: 1000px 100%;
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

.hidden {
  display: none
}

